.ant-breadcrumb-link {
    span {
        color: #BE140B;
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 50px;
    }
}