.create-form {
    label {
        color: #8a8c8d;
        font-weight: 700;
        width: 130px;
    }
    input,
    .ant-upload-list,
    .ant-input-number,
    textarea {
        border-radius: 5px;
        width: 400px;
    }
    .btnSubmit {
        width: 80px;
        display: flex;
        justify-content: center;
    }
    .form-btn {
        display: flex;
        justify-content: center;
    }
    .form {
        display: flex;
        justify-content: space-evenly;
    }
    .form-error {
        color: red;
        font-size: 14px;
        line-height: 26px;
    }
    .form-error:before {
        content: '*';
        display: inline-block;
        margin-right: 4px;
        color: #f5222d;
    }
}
@media only screen and (max-width: 768px) {
    .create-form {
        width: 100%;
        height: 500px;
        overflow: hidden;
        overflow-y: scroll;
        input,
        .ant-upload-list,
        .ant-input-number {
            width: 215px;
        }
        textarea {
            width: 215px;
        }
        label {
            width: 130px;
        }
        .form {
            display: flex;
            flex-direction: column;
        }
    }
}
@media only screen and (max-width: 1052px) {
    .create-form {
        width: 100%;
        height: 500px;
        overflow: hidden;
        overflow-y: scroll;
        input,
        .ant-upload-list,
        .ant-input-number {
            width: 420px;
        }
        textarea {
            width: 420px;
        }
        label {
            width: 130px;
        }
        .form {
            display: flex;
            flex-direction: column;
        }
    }
}
@media only screen and (max-width: 600px) {
    .create-form {
        width: 100%;
        height: 500px;
        overflow: hidden;
        overflow-y: scroll;
        input,
        .ant-upload-list,
        .ant-input-number {
            width: 215px;
        }
        textarea {
            width: 215px;
        }
        label {
            width: 130px;
        }
    }
}
