.search-view {
    display: flex;
    width: 100%;
    height: 65px;
    align-items: center;
    justify-content: flex-end;
    &__keyInfo {
        display: flex;
        align-items: center;
        span {
            border-radius: 10px;
            margin: 0 20px;
            input.ant-input {
                height: 34px;
                margin: 0;
                width: 100%;
                padding: 0 10px;
            }
            span {
                margin: 0;
            }
        }
    }
    &__btnSearch {
        display: flex;
    }
}
@media only screen and (max-width: 768px) {
    .search-view {
        align-items: flex-start;
        flex-direction: column;
        &__keyInfo {
            width: 100%;
            input {
                margin: 10px;
            }
        }
        &__btnSearch {
            display: none;
        }
    }
}
