#header-background {
    background-color: #e6f7ff;
    // display: inline;
    align-items: center;
    padding: 0 28px;
    box-shadow: 0 4px 12px 0 #a3a7a8;
    width: 100%;
    background-color: #116D76;
    display: flex;
    justify-content: space-between;
}

#nav-name {
    display: inline;
    float: right;
    margin: 0px 20px;
    font-size: 16px;
    color: #FFFFFF;

    span {
        color: #FFFFFF;
    }
}

.nav-left {
    &__menu {
        background-color: #116D76;
        border-bottom: 0px;
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;

        span {
            color: #FFFFFF;
        }
    }

    .ant-menu-item-selected {
        background-color: #308E97;
        border-bottom: 0px;
    }

    .ant-menu-horizontal>.ant-menu-item {
        position: relative;
        top: 0px;
        display: inline-block;
        vertical-align: bottom;
    }

    .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item-selected::after {
        background-color: #308E97;
        border-bottom: 0px;

    }

    .ant-menu-horizontal:not(.ant-menu-dark)>.ant-menu-item:hover::after {
        border-bottom: 0px;
    }
}

.dropbox {
    &__menu {
        font-weight: 600;
        font-size: 14px;
        line-height: 25px;
    }
}

#nav-action {
    float: right;
    margin: 15px;
    border-radius: 25px;
}